{% extends "dashboard/base.html" %}
<link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css" />
<script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

{% block content %}
{% include "dashboard/charts.html" %}

{% include "dashboard/cards.html" %}

{% include "dashboard/tables.html" %}



<script>
  const CHART_LABEL = {{chart_label|safe}};
  const CHART_DATA = {{chart_data|safe}};
</script>

<script>
  $(function () {
      $("#datatable").DataTable();
  });
</script>


{% endblock %}